# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build logs
*.log

# OS files
.DS_Store
Thumbs.db